
.containerFluid {
    position: relative;
    .main {
        margin: 10rem 20rem 0;
        display: flex;
        justify-content: space-around;
        
        .content {
            border-left: 1px solid black;
            border-right: 1px solid black;
            flex-grow: 4;
            background-color: white;
        }
    }
    
}
